<div class="widgets">
    <div class="row">
        <ba-card title="Listado" baCardClass="with-scroll" class="data-table-container">
            <div class="panel panel-default">
                <!-- <div class="panel-heading">Información de Trabajos</div> -->

                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th style="width: 15%"></th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="archivo">Descripción</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="foto">Dirección</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="f_entregaEsperada">Medidas de Terreno</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="f_entregaReal">Medidas de Construcción</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="status">Fecha de Inicio</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="especificaciones">Fecha de Fin</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="Trabajo_idTipoTrabajo">Presupuesto</mfDefaultSorter>
                            </th>

                            <th style="width: 5%">
                                <mfDefaultSorter by="cantidad">Razón Social Contratista</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="Personal_idPersonal">Razón Social Constructor</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="total">Razón Social Asociado</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="Orden_idOrden">Posición GPS</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="f_recibe">Observaciones</mfDefaultSorter>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data;  let i = index">
                            <td>
                                <button (click)="editTrabajosModalShow(item)" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>
                                <button (click)="onDeleteConfirm($event, item.idtrabajo)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                <button (click)="uploadModalShow(item.idtrabajo, item.archivo)" class="btn btn-sm btn-success"><i class="fa fa-file"></i></button>
                                <button (click)="filesModalShow(item.idtrabajo)" class="btn btn-sm btn-warning"><i class="fa fa-eye"></i></button>
                            </td>
                            <td>{{ item.archivo }}</td>
                            <td>{{ item.foto }}</td>
                            <td>{{ item.f_entregaEsperada | date:'dd/MM/y' }}</td>
                            <td>{{ item.f_entregaReal | date:'dd/MM/y' }}</td>
                            <td>{{ item.status }}</td>
                            <td>{{ item.especificaciones }}</td>
                            <td>{{ item.Trabajo_idTipoTrabajo }}</td>
                            <td>{{ item.cantidad }}</td>
                            <td>{{ item.Personal_idPersonal }}</td>
                            <td>{{ item.total }}</td>
                            <td>{{ item.Orden_idOrden }}</td>
                            <td>{{ item.f_recibe | date:'dd/MM/y' }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button (click)="addTrabajosModalShow()" class="btn btn-success"><i class="fa fa-plus"></i> Agregar</button>
        </div>
    </div>

</div>
